* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    min-height: 100vh;
    background: #111;
}

#root {
    height: 100vh;
}

svg * {
    color: #05f !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #454545;
}